.bottom-menu {
  width: 100vw;
  height: 65px;
  display: grid;
  place-items: center; /* 水平 + 垂直居中 */
  background-color: rgba(233, 241, 246, 1);
  position: fixed;
  bottom: 0;
  left: 0;
}
.copyright {
  color: #758a99;
  position: absolute;
  left: 5px;
  top: 28px;
}
.menu-icons {
  width: 38px;
  height: 38px;
  display: inline-block;
  transition: 0.2s ease-out;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 15px;
}

.menu-icons:hover {
  transform: rotateX(35deg) scale(1.25);
  box-shadow: 1px 1px 2px black;
}

.menu-icons:active {
  transform: rotateX(0deg) scale(1);
}

.gr-icon {
  background-image: url(/src/assets/icons/navMenu/gr-icon.svg);
}
.sp-icon {
  background-image: url(/src/assets/icons/navMenu/sp-icon.svg);
}
.ta-icon {
  background-image: url(/src/assets/icons/navMenu/ta-icon.svg);
}
.he-icon {
  background-image: url(/src/assets/icons/navMenu/he-icon.svg);
}
.co-icon {
  background-image: url(/src/assets/icons/navMenu/ra-icon.svg);
}
