.element-unit {
  width: 10rem;
  height: 10rem; 
  display: grid;
  place-items: center; /* 水平 + 垂直居中 */
  background-color: rgba(233, 241, 246, 0.8);
  box-shadow: 0 0 0 .1rem #64748B;
  transition: 1s ease-out;
  position: absolute;
  left: -5rem;
  top: -5rem;
}
.element-id {
  font-size: 2rem;
  position: absolute;
  color: #475569;
  left: 1rem;
  top: .2rem;
}
.symbol {
  font-size: 3.2rem;
  color: #334155;
}