.elementCard {
  width: 10rem;
  height: 10rem; 
  display: grid;
  place-items: center; /* 水平 + 垂直居中 */
  border: .1rem solid var(--card-border);
  background-color: var(--card-bg);
  box-shadow: 0 0 .5rem var(--card-shadow);
  transition: var(--animation-duration);
  box-sizing: border-box;
  position: absolute;
  left: -5rem;
  top: -5rem;
}
.elementId {
  font-size: 2rem;
  position: absolute;
  transition: var(--animation-duration);
  color: var(--card-id-text);
  left: 1rem;
  top: .2rem;
}
.symbol {
  font-size: 3.2rem;
  color: var(--card-symbol-text);
  transition: var(--animation-duration);
}