.footerMenu {
  width: 100vw;
  height: 6rem;
  display: grid;
  place-items: center; /* 水平 + 垂直居中 */
  background-color: var(--footer-menu-bg);
  transition: var(--animation-duration);
  position: fixed;
  bottom: 0;
  left: 0;
}
.copyright {
  position: absolute;
  left: 0;
  top: 0;
}
.copyrightSource {
  height: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  background-image: url(/src/assets/icons/github.svg);
  background-position: .5rem 0rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  transition: var(--animation-duration);
  padding-left: 3rem;
  margin: 3rem 0;
  color: var(--copyright-source-text);
}
.copyrightSource:active {
  transform: scale(0.98);
}
.menuIcons {
  width: 3.2rem;
  height: 3.2rem;
  display: inline-block;
  transition: 0.2s ease-out;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
  border: 1px solid var(--footer-menu-icons-border);
  box-sizing: border-box;
  margin: 0 1.5rem;
  cursor: pointer;
}

.menuIcons:hover {
  transform: rotateX(35deg) scale(1.25);
  box-shadow: .1rem .1rem .2rem var(--footer-menu-icons-hover-color);
}

.menuIcons:active {
  transform: rotateX(0deg) scale(1);
}

.menuIcons svg {
  transition: var(--animation-duration);
  fill: var(--footer-menu-icons-fill);
}